# Backend
NODE_ENV=development
PORT=4000

# CORS: адрес фронтенда
FRONTEND_URL=http://localhost:3000

# JWT
JWT_SECRET=change-me-please
JWT_EXPIRES_IN=1d

# PostgreSQL (для Prisma)
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/warehouse?schema=public
